@import (reference) '../../index.less';

.daily {

    h2 {
        font-size: 20px;
        padding: 10px;
        color: white;
        background-color: #53aaf1;
        box-shadow: 0 1px 5px -1px @ganjingDarkBlue;
    }

    .content {
        padding: @viewportPadding;
    }
}

.small-view .daily {
}
