:root {
  --px-025: 2px;
  --px-05: 4px;
  --px-075: 6px;
  --px-1: 8px;
  --px-15: 12px;
  --px-2: 16px;
  --px-3: 24px;
  --px-4: 32px;
  --px-5: 40px;
  --px-6: 48px;

  --font-size-xsmall: 0.75rem; /* 12px */
  --font-size-small: 0.875rem; /* 14px */
  --font-size-normal: 1rem; /* 16px */
  --font-size-bigger: 1.25rem; /* 20px */
  --font-size-large: 1.5rem; /* 24px */
  --font-size-xlarge: 1.75rem; /* 28px */
  --font-size-xxlarge: 2rem; /* 32px */

  --font-body: 'Open Sans Variable', 'Helvetica Neue', sans-serif;
  --font-header: 'Open Sans Variable', 'Helvetica Neue', sans-serif;

  --color-background: #ffffff;
  --color-text: rgba(0, 0, 0, 0.7);
  --color-50: rgba(239, 254, 255, 0.7);
  --color-60: rgb(239 250 255 / 0.7);
  --color-70: rgba(239, 255, 242, 0.7);
  --color-80: rgba(255, 253, 239, 0.7);
  --color-90: rgba(255, 216, 216, 0.7);
  --color-100: rgba(255, 140, 98, 0.7);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #1d1f20;
    --color-text: #e3e1de;
    --color-50: rgba(65, 137, 142, 0.7);
    --color-60: rgba(46, 90, 112, 0.7);
    --color-70: rgba(26, 69, 42, 0.7);
    --color-80: rgba(163, 89, 62, 0.7);
    --color-90: rgba(128, 43, 43, 0.7);
    --color-100: rgba(81, 22, 22, 0.7);
  }
}
