@import (reference) '../../index.less';

.currently {
    display: flex;
    justify-content: space-between;

    .temperature {
        font-size: 36px;
    }

    .feels-like {
        font-size: 18px;
    }
}

.small-view .currently {
}
