@import (reference) '../../index.less';

header {
    display: flex;
    align-items: center;
    padding: @viewportPadding;
    color: white;
    background-color: @ganjingBlue;
    box-shadow: 0 0 10px @ganjingDarkBlue;

    img {
        max-width: 35px;
    }

    h1 {
        margin-left: 8px;
        font-size: 25px;
    }
}

.small-view header {
}
