@ganjingBlue: #2196f4;
@ganjingDarkBlue: #1971b7;

body {
    margin: 0;
    padding: 0;
    font: 14px 'Open Sans', sans-serif;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}
